{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class="row">
        <fieldset>
            <h3>Erreur : Vous n'avez pas les droits d'accès à cette page.</h3>
        </fieldset>
    </div>
{% endblock %}